
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #151517;
}

div {
    width: 400px;
    height: 350px;
    margin: 150px auto;
    background-color: rgba(188, 185, 198, 0.4);
    border-radius: 10px;
    text-align: center;
}

img {
    width: 80px;
    border-radius: 30%;
    margin-top: 30px;
}

input {
    width: 300px;
    height: 30px;
    margin-top: 20px;
    border-radius: 6px;
    /*去掉自带的边框样式*/
    border: none;
    padding-left: 15px;
}

span{
    font-size: 12px;
    color: white;
}

#submit {
    letter-spacing: 20px;
    border: none;
    width: 200px;
    height: 35px;
    border-radius: 6px;
    background-color: #151517;
    color: #fff;
    margin-top: 30px;

}